html {
  font-family: Roboto, sans-serif;
}

h1 {
  font-weight: 800;
}

.banner {
  background-color: #3b2d04;
  color: #fff;
}

.banner .btn {
  border-color:#ebebeb;
  color: #fff;
}

.banner .btn:hover {
  color: #424242;
}
